* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container {
    width: 200%;
    max-width: 700px;
    margin: 80px auto; 
    background-color: #fff; 
    padding: 90px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-field input[type="email"],
.input-field input[type="password"] {
    width:  90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ccc;

}
    






